<div class="modal" id="myModal">
        <div class="page">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="l-product__container">
                        <div id="modal_name" class="l-product__title"></div>
                        <main class="l-product__main">
                            <div class="container">
                                <button id="button_edit"></button>
                            </div>
                            <div class="c-prod-attr__section description_modal">
                                <div class="c-prod-attr__title">Description</div>
                                <div id="modal_Desc" class="c-prod-attr__no-info"></div>
                            </div>
                            <img id="modal_image" class="l-product__image">
                        </main>
                        <aside class="l-product__aside">
                            <span class="close" id="closemodal">&times;</span>
                            <div class="c-prod-info">
                                <div class="c-title--h2">Product information</div>
                                <div class="c-prod-attr__section">
                                    <div class="c-prod-attr">
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Product Id</b></div>
                                            <div id="modal_ID" class="c-prod-attr__value"></div>
                                        </div>
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Brand Name</b></div>
                                            <div id="modal_brand_name" class="c-prod-attr__value"></div>
                                        </div>
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Category Id</b></div>
                                            <div id="modal_category_ID" class="c-prod-attr__value"></div>
                                        </div>
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Family</b></div>
                                            <div id="modal_family" class="c-prod-attr__value"></div>
                                        </div>
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Is Active</b></div>
                                            <div id="modal_state" class="c-prod-attr__value"></div>
                                        </div>
                                        <div class="c-prod-attr__item flex">
                                            <div class="c-prod-attr__name"><b>Is Disabled</b></div>
                                            <div id="modal_state2" class="c-prod-attr__value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-prod-attr">
                                <div class="c-title--h2">Product's Review Information</div>
                                <div class="c-prod-attr__section">
                                    <div class="c-prod-attr__item flex">
                                        <div class="c-prod-attr__name"><b>Average Rating</b></div>
                                        <div id="modal_Avg" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item flex">
                                        <div class="c-prod-attr__name"><b>Total Reviews</b></div>
                                        <div id="modal_Total_Reviews" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item flex">
                                        <div class="c-prod-attr__name"><b>Times Recommended</b></div>
                                        <div id="modal_Recommended" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item flex">
                                        <div class="c-prod-attr__name"><b>Last Submission</b></div>
                                        <div id="modal_Last_Submitted" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item flex">
                                        <div class="c-prod-attr__name"><b>Helpfulness Votes</b></div>
                                        <div id="modal_Helpful" class="c-prod-attr__value"></div>
                                    </div>
                                </div>
                                <div class="c-prod-attr__section">
                                    <div class="c-title--h2">Universal Identifier Information</div>
                                    <div class="c-prod-attr__item">
                                        <div class="c-prod-attr__name"><b>EAN</b></div>
                                        <div id="modal_EAN" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item">
                                        <div class="c-prod-attr__name"><b>UPC</b></div>
                                        <div id="modal_UPC" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item">
                                        <div class="c-prod-attr__name"><b>MPN</b></div>
                                        <div id="modal_MPN" class="c-prod-attr__value"></div>
                                    </div>
                                    <div class="c-prod-attr__item">
                                        <div class="c-prod-attr__name"><b>ISBN</b></div>
                                        <div id="modal_ISBN" class="c-prod-attr__value"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </aside>
    </div>